DATABASE_URL=<your-database-url>
ACCESS_TOKEN=<your-access-token>
REFRESH_TOKEN=<your-refresh-token>


#ETHEREAL email verification otp
ETHEREAL_HOST=<your-ethereal-hostname>
ETHEREAL_PORT=<your-ethereal-port>
ETHEREAL_USER=<your-ethereal-username>
ETHEREAL_PASS=<your-ethereal-password>